<html>
  <head>
    <title>Index</title>
  </head>
  <body>
    <div id="titlebar">
	<a href= "/login">Log In</a></button>
	<a href = "/register">Sign Up</a></button>
	<a href = "/admin">Admin</a></button>
    </div>
    
  </body>
  <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
</html>
